<table style="width: 600px; margin-left: 10px;" class="table table-responsive borderless  table-striped">
    <thead>
        <tr style="width: 50%">
            <th>Setting</th>
            <th style="width: 50%"></th>
        </tr>
    </thead>
    <tbody>{% if command.id == None %}{% else %}
        <tr>
            <td><div class="content"><strong>ID</strong></div></td>
            <td>{{ command.id }}</td>
        </tr>{% endif %}
        <tr>
            <td><div class="content"><strong>Level</strong></div></td>
            <td>{{ command.level }}</td>
        </tr>
        <tr>
            <td><div class="content"><strong>Cost</strong></div></td>
            <td>{{ command.cost }} points</td>
        </tr>
        <tr>
            <td><div class="content"><strong>Global Cooldown</strong></div></td>
            <td>{{ command.delay_all|time_ago_timespan_seconds }}</td>
        </tr>
        <tr>
            <td><div class="content"><strong>User-specific Cooldown</strong></div></td>
            <td>{{ command.delay_user|time_ago_timespan_seconds }}</td>
        </tr>
        <tr>
            <td><div class="content"><strong>Mod Only</strong></div></td>
            <td>{% if command.mod_only == false %}No{% else %}Yes{% endif %}</td>
        </tr>
        <tr>
            <td><div class="content"><strong>Sub Only</strong></div></td>
            <td>{% if command.sub_only == false %}No{% else %}Yes{% endif %}</td>
        </tr>
        <tr>
            <td><div class="content"><strong>Whisperable</strong></div></td>
            <td>{% if command.can_execute_with_whisper == false and command.level < 420 %}No{% else %}Yes{% endif %}</td>
        </tr>
    </tbody>
</table>
