{% extends "admin/layout.html" %}
{% set active_page = 'admin_modules' %}
{% block title %}Configure Module{% endblock %}
{% block body %}
{% if request.method == 'POST' %}
<div class="alert alert-success fade in message">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
    <strong>Successfully edited the module</strong>
</div>
{% endif %}
<h1 class="page-head-line">Configure &quot;{{ module.NAME }}&quot;</h1>
<h1 class="page-subhead-line"><i class="fa fa-paperclip fa-lg"></i> {{ module.DESCRIPTION }}</h1>

<form class="form-horizontal" method="POST" action="/admin/modules/edit/{{ module.ID }}">
    {%- for setting in module.SETTINGS %}
    <div class="{{ 'required' if setting.required else ''}} form-group field col-xs-8">
        <label>{{ setting.label }}</label>
        {% if setting.type == 'text' %}
        <input type="text" name="{{ setting.key }}" class="form-control" placeholder="{{ setting.placeholder }}" value="{{ module.settings[setting.key] }}" />
        {% elif setting.type == 'number' %}
        <input type="number" name="{{ setting.key }}" class="form-control" placeholder="{{ setting.placeholder }}" value="{{ module.settings[setting.key] }}"
          {% if 'min_value' in setting.constraints %} min="{{ setting.constraints['min_value'] }}" {% endif %}
          {% if 'max_value' in setting.constraints %} max="{{ setting.constraints['max_value'] }}" {% endif %}
        />
        {% else %}
        Unknown type: {{ setting.type }}
        {% endif %}
    </div>
    {% endfor -%}
    <div class="clearfix"></div>
    <div class="alert alert-warning message warning" role="alert" style="padding: 0.4em;"></div>
    <div class="alert alert-danger message error" role="alert" style="padding: 0.4em;"></div>
    <div class="btn btn-success submit"><i class="fa fa-cog"></i> Configure</div>
</form>
{% endblock %}
{% block footer %}
<script type="text/javascript">
$(document).ready(function() {
    $('form').form({
        fields: {
            {%- for setting in module.SETTINGS %}
            {% if setting.constraints|length > 0 %}
            {{ setting.key }}: {
                                   identifier: '{{ setting.key }}',
                                   rules: [
                                   {% for con_key, con_value in setting.constraints.items() %}
                                   {% if con_key == 'min_str_len' %}
                                   {
                                       type: 'minLength[{{ con_value }}]',
                                       prompt: '"{{ setting.label }}" must be at least {{ con_value }} characters'
                                   },
                                   {% elif con_key == 'max_str_len' %}
                                   {
                                       type: 'maxLength[{{ con_value }}]',
                                       prompt: '"{{ setting.label }}" must be at most {{ con_value }} characters'
                                   },
                                   {% elif con_key == 'min_value' and 'max_value' in setting.constraints %}
                                   {
                                       type: 'integer[{{ con_value }}..{{ setting.constraints['max_value'] }}]',
                                       prompt: '"{{ setting.label }}" must be at least {{ con_value }} and at most {{ setting.constraints['max_value'] }}'
                                   },
                                   {% endif %}
                                   {% endfor %}
                                   ]
                               },
            {% endif %}
            {% endfor -%}
        },
        keyboardShortcuts: false,
    });
});
</script>
{% endblock %}
