{% extends "admin/layout.html" %}
{% set active_page = 'admin_banphrase' %}
{% block title %}Create Banphrase{% endblock %}
{% block body %}
{% if banphrase %}
<h2 class="page-head-line">Edit Banphrase &quot;{{ banphrase.name }}&quot;</h2>
{% else %}
<h2 class="page-head-line">Create Banphrase</h2>
{% endif %}
<form class="form-horizontal" method="POST" action="/admin/banphrases/create">
    {% if banphrase %}
    <input type="hidden" name="id" class="form-control" value="{{ banphrase.id }}" />
    {% endif %}
    <div class="form-group">
        <div class="required field col-xs-4">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name to describe Banphrase" value="{{ banphrase.name if banphrase else ''}}" />
        </div>
        <div class="required field col-xs-8">
            <label>Banned phrase</label>
            <input type="text" name="phrase" class="form-control" placeholder="Banned phrase" value="{{ banphrase.phrase if banphrase else ''}}"/>
        </div>
        <div class="required field col-xs-4">
            <label>Timeout duration (seconds)</label>
            <input type="number" name="length" class="form-control" placeholder="Timeout duration" value="{{ banphrase.length if banphrase else '300'}}"/>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="fields form-group">
        <div class="field checkbox col-xs-3">
            <label for="cb_permanent" class="checkbox-inline"><input type="checkbox" id="cb_permanent" name="permanent"
                                                  {%- if banphrase %}
                                                     {{ 'checked' if banphrase.permanent else '' }}
                                                  {% endif -%} />Permanent</label>
        </div>
        <div class="field checkbox col-xs-3">
            <label for="cb_warning" class="checkbox-inline"><input type="checkbox" id="cb_warning" name="warning"
                                                  {%- if not banphrase or banphrase.warning %}
                                                  checked
                                                  {% endif -%} />Use warnings</label>
        </div>
        <div class="field checkbox col-xs-3">
            <label for="cb_notify" class="checkbox-inline"><input type="checkbox" id="cb_notify" name="notify"
                                                  {%- if not banphrase or banphrase.notify %}
                                                  checked
                                                  {% endif -%} />Notify</label>
        </div>
        <div class="field checkbox col-xs-3">
            <label for="cb_case_sensitive" class="checkbox-inline"><input type="checkbox" id="cb_case_sensitive" name="case_sensitive"
                                                  {%- if banphrase %}
                                                     {{ 'checked' if banphrase.case_sensitive else '' }}
                                                  {% endif -%} />Case sensitive</label>
        </div>
    </div>
    <div class="alert alert-warning message warning" role="alert" style="padding: 0.4em;"></div>
    <div class="alert alert-danger message error" role="alert" style="padding: 0.4em;"></div>
    {% if banphrase %}
    <button class="btn btn-success submit">Edit</button>
    {% else %}
    <button class="btn btn-success submit">Create</button>
    {% endif %}
</form>
{% endblock %}
{% block footer %}
<script src="/static/scripts/admin/create_banphrase.js"></script>
{% endblock %}
