{% extends "admin/layout.html" %}
{% set active_page = 'admin_links_whitelist' %}
{% block title %}Admin - Whitelisted Links{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">Whitelisted Links</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td>{{ link.domain }}{{ link.path }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
