{% extends "admin/layout.html" %}
{% set active_page = 'admin_modules' %}
{% block title %}Modules{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2 class="page-head-line">Modules</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th class="collapsing">Module</th>
                <th>Description</th>
                <th class="collapsing">Actions</th>
            </tr>
        </thead>
        <tbody>
{% for row in modules %}
            <tr data-id="{{row.ID}}" data-enabled="{{1 if row.db_module.enabled else 0}}">
                <td class="collapsing">{{ row.NAME }}</td>
                <td>{{ row.DESCRIPTION }}</td>
                <td class="right aligned collapsing">
                    {%- if row.db_module.enabled %}
                    <button class="btn btn-default toggle-row"><i class="fa fa-power-off color-red"></i><span class="text"> Disable</span></button>
                    {% else %}
                    <button class="btn btn-default toggle-row"><i class="fa fa-power-off color-green"></i><span class="text"> Enable</span></button>
                    {% endif -%}
                <button class="btn btn-default edit-row"><i class="fa fa-cog"></i> Configure</button></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="/static/scripts/admin/create_row.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    enable_edit_row('modules');
    enable_toggle_row('toggle_module');
});
</script>
{% endblock %}
