{% extends "admin/layout.html" %}
{% set active_page = 'admin_timers' %}
{% block title %}Admin - Timers{% endblock %}
{% block body %}
{% if created %}
<div class="alert alert-success fade in message">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
    <strong>Your Timer was created successfully.</strong>
</div>
{% elif edited %}
<div class="alert alert-success fade in message">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
    <strong>Your Timer was edited successfully.</strong>
</div>
{% endif %}
<a href="/admin/timers/create" class="btn btn-success create-timer" role="button"><i class="fa fa-plus"></i> <strong> Create Timer</strong></a>
<h1 class="page-head-line">Timers</h1>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th class="collapsing">Name</th>
            <th class="collapsing">Interval online</th>
            <th class="collapsing">Interval offline</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in timers %}
        <tr data-id="{{row.id}}" data-enabled="{{1 if row.enabled else 0}}">
            <td class="collapsing">{{row.name}}</td>
            <td class="collapsing">{{ 'Disabled' if row.interval_online == 0 else row.interval_online }}</td>
            <td class="collapsing">{{ 'Disabled' if row.interval_offline == 0 else row.interval_offline }}</td>
            <td>{{row.action.response}}</td>
            {% include 'admin/helper/row_action.html' %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade remove-timer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <button class="close" type="button" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Confirm Action</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this timer? This action is irreversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger remove-timer-modal">Remove</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="/static/scripts/admin/create_row.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    enable_edit_row('timers');
    enable_remove_row('remove-timer', 'remove_timer');
    enable_toggle_row('toggle_timer');
});
</script>
{% endblock %}
