{% extends "layout.html" %}
{% set active_page = 'commands' %}
{% block title %}Commands{% endblock %}
{% block body %}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Commands</h1>
                        <h1 class="page-subhead-line"><i class="fa fa-paperclip fa-lg"></i> List of all the commands that can be run by the bot. Check out each category: </h1>
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a data-toggle="tab" href="#regular-commands">Regular Commands</a></li>
                            {% if point_commands|length > 0 %}
                            <li role="presentation"><a data-toggle="tab" href="#point-commands">Point Commands</a></li>
                            {% endif %}
                            {% if moderator_commands|length > 0 %}
                            <li role="presentation"><a data-toggle="tab" href="#mod-commands">Moderator Commands</a></li>
                            {% endif %}
                        </ul>
						<div class="tab-content">
                            <div id="regular-commands" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-responsive table-striped">
										    <thead>
										        <tr>
										            <th>Command</th>
										            <th>Output</th>
										        </tr>
										    </thead>
										    <tbody>
                                                {% for command in custom_commands %}
                                                <tr>
                                                    <td>{% include 'helper/command_usage.html' %}</td>
                                                    <td class="pemote">{{ command.parsed_description }}</td>
                                                </tr>   
                                                {% endfor %}
                                            </tbody>												
						                 </table>
                                    </div>
                                </div>
                            </div>
                            <div id="point-commands" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-responsive table-striped">
										    <thead>
										        <tr>
										            <th>Command</th>
										            <th>Cost</th>
													<th>Description</th>
										        </tr>
										    </thead>
										    <tbody>
                                                {% for command in point_commands %}
                                                <tr>
                                                    <td>{% include 'helper/command_usage.html' %}</td>
                                                    <td>{{ command.cost }}</td>
                                                    <td class="pemote">{{ command.parsed_description }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>												
						                 </table>
                                    </div>
                                </div>
                            </div>
                            <div id="mod-commands" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
						                <table class="table table-responsive table-striped">
										    <thead>
										        <tr>
										            <th>Command</th>
										            <th>Description</th>
										        </tr>
										    </thead>
										    <tbody>
                                                {% for command in moderator_commands %}
                                                <tr>
                                                    <td>{% include 'helper/command_usage.html' %}</td>
                                                    <td class="pemote">{{ command.parsed_description }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>												
						                 </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}