{% extends "layout.html" %}
{% set active_page = 'highlights' %}
{% block title %}Highlights{% endblock %}
{% block body %}
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Highlights</h1>
                        <h1 class="page-subhead-line"><i class="fa fa-paperclip fa-lg"></i> List of all recent highlights from stream.  <a href="#calendar"><i class="fa fa-link"></i> Browse Calendar</a></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    {% for highlight in highlights %}
                    {% include 'highlight/list.html' %}
                    <hr />
                    {% endfor %}
                    </div>
                </div>
                <h3>Find more highlights here</h3>
                <div id="calendar"></div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/scripts/highlights.datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var disabled_dates = [
        true,
{%- for enabled_date in dates_with_highlights %}[{{ enabled_date.year }},{{ enabled_date.month - 1 }},{{ enabled_date.day}}],{% endfor -%}
    ];
    create_picker('#calendar', disabled_dates);
});
</script>
{% endblock %}

