{% extends "layout.html" %}
{% set active_page = 'home' %}
{% block title %}Login Error{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">Login Error</h1>
        <h4>An error occured while trying to log you in.</h4>
        <h4>Please try again in a moment.</h4>
        <h4>If the problem persists, please contact <a href="http://www.twitch.tv/message/compose?to=gigglearrows">gigglearrows</a> through a twitch message.</h4>
    </div>
</div>
{% endblock %}
