<td class="right aligned collapsing">
    {%- if row.enabled %}
    <button class="btn btn-default toggle-row"><i class="fa fa-power-off color-red"></i><span class="text"> Disable</span></button>
    {% else %}
    <button class="btn btn-default toggle-row"><i class="fa fa-power-off color-green"></i><span class="text"> Enable</span></button>
    {% endif -%}
<button class="btn btn-default remove-row"><i class="fa fa-times color-red"></i> Remove</button>
<button class="btn btn-default edit-row"><i class="fa fa-pencil-square-o"></i> Edit</button></td>